<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Softgames Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E0A4D45282E6D4E00201DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0A4D5B282E6D5000201DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0A4D65282E6D5100201DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
